<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy Ticket</title>

    <!-- Load CSS -->
    <link rel="stylesheet" th:href="@{/css/buy_ticket.css}" href="/css/buy_ticket.css">
</head>
<body>

<h2>Buy Ticket</h2>

<form th:action="@{/buy}" method="post">
    <input type="hidden" th:value="${tripId}" name="tripId">

    <input name="firstName" placeholder="First Name" required>
    <input name="lastName" placeholder="Last Name" required>

    <select name="gender" required>
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select>

    <button type="submit">Buy Ticket</button>
</form>

<div th:if="${successMessage}">
    <p class="success" th:text="${successMessage}"></p>
</div>

</body>
</html>
