<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <!-- Load CSS -->
    <link rel="stylesheet" th:href="@{/css/register.css}" href="/css/register.css">
</head>
<body>

<h2>Register</h2>

<form th:action="@{/register}" th:object="${user}" method="post">

    <input type="text" th:field="*{username}" placeholder="Username" required><br/>

    <input type="email" th:field="*{email}" placeholder="Email" required><br/>

    <input type="password" th:field="*{password}" placeholder="Password" required><br/>

    <select th:field="*{gender}">
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
    </select><br/>

    <button type="submit">Register</button>

</form>

</body>
</html>
