<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Tickets</title>

    <!-- Load CSS -->
    <link rel="stylesheet" th:href="@{/css/user_tickets.css}" href="/css/user_tickets.css">
</head>
<body>

<h1>My Tickets</h1>

<div class="empty" th:if="${#lists.isEmpty(tickets)}">
    <p>You have no tickets yet</p>
</div>

<div class="container" th:if="${!#lists.isEmpty(tickets)}">
    <h2>List of All Your Tickets</h2>

    <table>
        <tr>
            <th>Ticket ID</th>
            <th>Date</th>
            <th>Choose</th>
        </tr>

        <tr th:each="t : ${tickets}">
            <td th:text="${t.id}"></td>
            <td th:text="${t.trip.departureDate}"></td>
            <td><a th:href="@{'/showDetails/' + ${t.id}}">View</a></td>
        </tr>
    </table>
</div>

</body>
</html>
